
@media print {
    
    html, body {
      height:100%; 
      margin: 0 !important; 
      padding: 0 !important;
      overflow: visible;
      display:block;
      font-size: 1.2rem;
    }

    .transcript-content{
        height:auto;
        min-height:5000px;
        overflow:visible;
        display:block;
    }
  
  }

  td
  {vertical-align: top;
    padding: 4px 10px;}

.timestamp{font-size:10px;position: absolute; left: 9%}
.grey {
  color: grey;
  height: 3px !important;
  width: 80% !important;
  line-height: 2px !important;
  float:left !important;
  margin-bottom:1px !important; 
  font-size:1px !important;
}

.iframe-wrapper{
position: fixed;
  right: 10px;
  height: 200px;
  width: 370px;
  @include media-query($on-palm) {
    position:relative; 
  }
}

.anchored-highlight{background:aquamarine;}
.featured{}
.line{ font-size:11px; float:left;width:auto;}
.words{min-width: 650px;
  @include media-query($on-palm) {min-width: 250px;}}
.grey .words, .grey .timestamp, .grey .speaker, .grey .line {
  display: inline;
  font-size: 3px;
  padding: 0px 5px;
}

.filteroptions, .searchinput{font-size:24px; 
  @include media-query($on-palm) { font-size:18px;}}
