---
layout: default
---
{% assign lines = site.data.midsummer | where: "actscene", page.actscene  %}

{%- comment -%} find all words used in the subject metadata {%- endcomment -%}
{%- assign min-count = 1 -%}
{%- assign players = lines | map: "player" | compact | join: ";" | split: ";" -%}
{%- assign uniquePlayers = players | uniq -%}


<!--<div class="container-fluid">
    
{% assign notes = site.data.notes[page.object-id] %}
      <div class="row">
          <div class="col-md-3">
    <img src="{{site.baseurl}}/images/portraits/{{ page.object-id}}.png">
<ul id="notes-container">
    {% for note in notes %}
<li class="hidden-all {{note.tag | replace: ";"," "}}"><a class="filter" href="#{{note.quote | truncatewords: 5,""}}" onclick="highlight('{{note.quote}}')" data-filter="{{note.quote | truncatewords: 5,""}}">{{note.detail}}</a></li>
   {% endfor %}
  </ul>
</div>
       <div class="col-md-9">-->
<button class="btn btn-success" id="annotateBtn">Annotation (hypothes.is)</button>
<script> 
    document.getElementById("annotateBtn").addEventListener("click", function() { 
      window.hypothesisConfig = function () {
        return {
          "openSidebar": true
        };
      };
      var hypothesis = document.createElement('script');
      hypothesis.setAttribute('src','https://hypothes.is/embed.js');
      document.head.appendChild(hypothesis);
      document.getElementById("nav-trigger").checked = false;
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">


            <header>
                <h2 class="poet-name my-2">{{ featured_scene}}</h2>
            </header>
            <div class="filteroptions mx-2 bg-light p-4 mb-4">
                <h3 class="text-center">
                    <div class="form-inline my-2 my-lg-0 ">
                        <input type="text" id="quicksearch" placeholder="Search ... " class="searchinput form-control mr-2 col-4">
                        <input class="searchinput mx-2 btn btn-lg btn-primary col-2" title="Search" value="Go" alt="Search" id="goButton" onclick="filterItems()">
                        <button class="reset btn btn-secondary ml-2" href="#" data-filter="" class="filter">Reset Filters</button>
                    </div>
                    <h2><span class="h6">Filter by topic:</span> <select id="filters" title="Jump to a year" class="filteroptions" style="max-width: 100%;">
                            <option value="#" selected="selected">On All Topics</option>
                            {% for filter in uniquePlayers %}
                            <option value="{{ filter }}">{{filter | capitalize}}</option>
                            {% endfor %}

                            <br />
                            <hr /><br />
                        </select></h2>
                    <h4><span class="info2"><span id="numberof">{{ lines | size }}</span> of {{ lines | size }} rows</span> (click a missing row to make it appear)</h4>

            </div>
            <div class="col-md-8 ml-md-3">
                <table id="contents-container">
                    {% for line in lines %}
                    {% assign prev_i = forloop.index0 | minus: 1 %}
                    {% assign prev_playerlinenumber = lines[prev_i].playerlinenumber %}
                    {% assign actsceneline = line.actsceneline |split: "." | last %}
                    {% assign mod5 = actsceneline | modulo: 5 %}
                    <tr id="{{ line.actsceneline }}" class="{{ line.player }}">
                        <td class="words">
                            <div id="spoken"><div class="row">{% if line.player == 'ACT'%}<span class="h3 pb-5">{{line.playerline}}</span> {% elsif line.player == 'SCENE' %}<span class="h5 pb-2">{{line.playerline}}</span> {% elsif line.player == "StageDirection" %} <em class="py-2">{{line.playerline}}</em> {% else %}{% if line.playerlinenumber == prev_playerlinenumber %}<div class="col-2"><span class="d-none">{{line.player | remove: ":"}}:</span> </div><div class="col-9">{{line.playerline}}{% else %}<div class="col-2">{{line.player | remove: ":"}}: </div><div class="col-9">{{line.playerline}}{% endif %}{% endif %}</div></div></div>
                        </td>
                        <td class="timestamp">
                            {% if mod5 == 0 %}{{ actsceneline }}{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                   
                </table>
            </div>


        </div>

    </div>
</div>
