---
layout: default
---
{% assign lines = site.data.midsummer | where: "actscene", page.actscene %}

{%- comment -%} find all words used in the player field of our metadata {%- endcomment -%}
{% capture players_play %}{% for line in lines %}{% unless line.player == "ACT" or line.player == "SCENE" %}{{- line.player -}};{% endunless %}{% endfor %}{% endcapture%}
{%- assign players = players_play | split: ";" -%}
{%- assign uniquePlayers = players | uniq -%}


<!--<div class="container-fluid">
    
{% assign notes = site.data.notes[page.object-id] %}
      <div class="row">
          <div class="col-md-3">
    <img src="{{site.baseurl}}/images/portraits/{{ page.object-id}}.png">
<ul id="notes-container">
    {% for note in notes %}
<li class="hidden-all {{note.tag | replace: ";"," "}}"><a class="filter" href="#{{note.quote | truncatewords: 5,""}}" onclick="highlight('{{note.quote}}')" data-filter="{{note.quote | truncatewords: 5,""}}">{{note.detail}}</a></li>
   {% endfor %}
  </ul>
</div>
       <div class="col-md-9">-->


<div class="container">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-3">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="col-md-9">
                <button href="#search" type="button" class="btn btn-lg btn-outline-secondary" data-toggle="collapse">Search Script</button>
            </div>
        </div>
        <div id="search" class="collapse">
        <div class="filteroptions mx-2 bg-light p-4 mb-4">
            <h3 class="text-center">
                <div class="form-inline my-2 my-lg-0 ">
                    <input type="text" id="quicksearch" placeholder="Search ... " class="searchinput form-control mr-2 col-4">
                    <input class="searchinput mx-2 btn btn-lg btn-primary col-2" title="Search" value="Go" alt="Search" id="goButton" onclick="filterItems()">
                    <button class="reset btn btn-secondary ml-2" href="#" data-filter="" class="filter">Reset
                        Filters</button>
                </div>
                <h2><span class="h6">Filter by topic:</span> <select id="filters" title="Jump to a year" class="filteroptions" style="max-width: 100%;">
                        <option value="#" selected="selected reset">On All Topics</option>
                        {% for filter in uniquePlayers %}
                        <option value="{{ filter }}">{{filter | capitalize}}</option>
                        {% endfor %}

                        <br />
                        <hr /><br />
                    </select></h2>
                <h4><span class="info2"><span id="numberof">{{ lines | size }}</span> of {{ lines | size }} rows</span>
                    (click a
                    missing row to make it appear)</h4>

        </div>
        </div>
    </div>
    <div id="contents-container">
        {% for line in lines %}
        {% unless line.player == "ACT" or line.player == "SCENE" %}
        <section class="searchline pl-3">
            {% assign prev_i = forloop.index0 | minus: 1 %}
            {% assign prev_player = lines[prev_i].player %}
            {% assign actsceneline = line.actsceneline |split: "." | last %}
            {% assign mod5 = actsceneline | modulo: 5 %}
            {% if line.player == "StageDirection" %}
            <div id="{{ line.dataline }}" class="{{ line.player }} row my-4 playline ml-4 playerline">
                <p><em>{{line.playerline}}</em></p>
            </div>
        </section>
        {% elsif line.actsceneline %}
        {% unless line.player == prev_player %}
        <div class="{{ line.player }} row mt-3 playline">
            <div class="col-1 small"></div>
            <div class="col-8 col-md-9 font-weight-bold">
                <p class="mb-0 playerline">
                    {{line.player | remove: ":"}}: </p>
            </div>
        </div>
        {% endunless %}
        <div id="{{ line.dataline }}" class="{{ line.player }} row playline textline">
            <div class="col-1 small" id="{{ line.actsceneline }}">{{ actsceneline }}</div>
            <div class="col-7 pr-0 playerline {% if line.annotation%}annotated{% endif %}">{{line.playerline}}</div>
            <div class="col-3 small ">
                {% if line.annotation%}
                <div class="annotation">
                    {% unless line.annotation contains "ibid" %}
                    {{line.annotation | markdownify}}
                    {% endunless %}
                </div>
                {% endif %}
            </div>
        </div>
        </section>
        {% endif %}
        {% endunless %}
        {% endfor %}
    </div>
    <div class="my-4">
        <hr />
        <hr />

    </div>