---
layout: default
---
{% assign lines = site.data.midsummer | where: "actscene", page.actscene %}

{%- comment -%} find all words used in the player field of our metadata {%- endcomment -%}
{% capture players_play %}{% for line in lines %}{% unless line.player == "ACT" or line.player == "SCENE" %}{{- line.player -}};{% endunless %}{% endfor %}{% endcapture%}
{%- assign players = players_play | split: ";" -%}
{%- assign uniquePlayers = players | uniq -%}

<div class="container">
    <div class="row my-5">
        <div class="col-md-3">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="col-md-9">
            <button href="#scriptsearch" type="button" class="btn btn-lg btn-outline-secondary mb-4" data-toggle="collapse">Search Script</button>
        </div>
        <div class="col-md-8">
            <div id="scriptsearch" class="card collapse bg-lightr">
            <div class="row p-3">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="goButton" id="quicksearch" >
                        <div class="input-group-append">
                          <button class="btn btn-primary rounded-right border-light input-group-text" type="submit" title="Search" alt="Search" id="goButton" onclick="filterItems()">Go</button>
                        </div>
                    </div>
                    <p class="pt-4">
                        <span class="h6">Filter by topic:</span>
                        <select id="filters" title="Jump to a year" class="filteroptions" style="max-width: 100%;">
                            <option value="#" selected="selected reset">On All Topics</option>
                            {% for filter in uniquePlayers %}
                            <option value="{{ filter }}">{{ filter | capitalize }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <h5><span class="info2"><span id="numberof">{{ lines | size }}</span> of {{ lines | size }} rows</span></h5>
                </div>
                <div class="col-md-6">
                    <button class="reset btn btn-sm btn-secondary mt-1" href="#" data-filter="" class="filter">Reset Filters</button>
                </div>
            </div>
                <!--<div class="filteroptions mx-2 p-4 mb-4">
                    <div class="form-inline my-2 my-lg-0 ">
                        <div class="input-group input-group-lg">
                        <input type="text" id="quicksearch" placeholder="Search ... " class="searchinput form-control form-control-lg mr-2 col-4">
                        <input class="searchinput mx-2 btn btn-sm btn-primary col-2" title="Search" value="Go" alt="Search" id="goButton" onclick="filterItems()">
                        <div class="input-group-append">
                            <button class="btn btn-primary rounded-right border-light" type="submit" title="Search" alt="Search" id="goButton" onclick="filterItems()">Search</button>
                        </div>
                    </div>
                    </div>-->
            </div>
        </div>
    </div>
    <div id="contents-container">
        {% for line in lines %}
        {% unless line.player == "ACT" or line.player == "SCENE" %}
        <section class="searchline pl-3">
            {% assign prev_i = forloop.index0 | minus: 1 %}
            {% assign prev_player = lines[prev_i].player %}
            {% assign actsceneline = line.actsceneline |split: "." | last %}
            {% assign mod5 = actsceneline | modulo: 5 %}
            {% if line.player == "StageDirection" %}
            <div id="{{ line.dataline }}" class="{{ line.player }} row my-4 playline ml-4 playerline">
                <p><em>{{line.playerline}}</em></p>
            </div>
        </section>
        {% elsif line.actsceneline %}
        {% unless line.player == prev_player %}
        <div class="{{ line.player }} row mt-3 playline">
            <div class="col-1 small"></div>
            <div class="col-8 col-md-9 font-weight-bold">
                <p class="mb-0 playerline">
                    {{line.player | remove: ":"}}: </p>
            </div>
        </div>
        {% endunless %}
        <div id="{{ line.dataline }}" class="{{ line.player }} row playline textline">
            <div class="col-1 small" id="{{ line.actsceneline }}">{{ actsceneline }}</div>
            <div class="col-7 pr-0 playerline {% if line.annotation%}annotated{% endif %}">{{line.playerline}}</div>
            <div class="col-3 small ">
                {% if line.annotation%}
                <div class="annotation">
                    {% unless line.annotation contains "ibid" %}
                    {{line.annotation | markdownify}}
                    {% endunless %}
                </div>
                {% endif %}
            </div>
        </div>
        </section>
        {% endif %}
        {% endunless %}
        {% endfor %}
    </div>
    <div class="my-4">
        <hr />
        <hr />

    </div>
</div>